{% extends 'base.html.twig' %}


{% block body %}
  <h1>Tous les livres!</h1>

  <ul>
  {% for book in books %}
    <li>
      {{book.title}} écrit par {{book.author}} 
      / {{ book.price }} euros
      
      {% if book.price >= 30 %} 
        <button>Acheter en 3 fois</button>
      {% else %} 
        <button>Payer maintenant</button>
      {% endif %}
    </li>
  {% endfor %}
  </ul>

{% endblock %}